body {
	margin: 0;
	font-family: HelveticaNeue-Light, Helvetica, Arial;
}

li:focus,
p:focus,
div:focus,
img:focus,
span:focus{
  	outline:none !important;
  	border: 0;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}
