.header-cont {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	background: #FFFFFF;
	min-height: 7vh;
	box-shadow: 0px 0px 20px 6px rgba(33,33,33,0.035);
	z-index: 9999;
	padding:
}

.header-cont .content ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

	list-style-type: none;
	padding: 0;
  		margin: 0;
}

.header-cont .content ul li {
	display: flex;
	justify-content: center;
	flex: 1 1 auto;
}

.header-cont .content ul li:last-child {
	font-size: 1.2em;
}

.header-cont .content ul li a {
	cursor: pointer;
}

.header-cont .home {
	width: 5%;
}

.header-cont .home ul {
	height: 100%;
	display: flex;
	align-items: center;
}

.header-cont .home ul li a {
	display: flex;
	justify-content: center;
	color: #717171;
	font-size: 150%;
	text-decoration: none;
	transition: all 300ms ease-out;
}

.header-cont .home ul li a:hover {
	color: #09BCFF;
}

.header-cont .links {
	width: 40%;
}

.header-cont .links ul {
	height: 100%;
	display: flex;
	align-items: center;
}

.header-cont .links ul li a {
	color: #717171;
	line-height: normal;
	text-decoration: none;
	text-transform: uppercase;
	font-size: .8em;
	transition: all 300ms ease-out;
}

.header-cont .links ul li a:hover {
	color: #09BCFF;
}

@media only screen
and (max-device-width : 742px) {
	.header-cont .home {
		width: 100%;
	}

	.header-cont .links {
		width: 100%;
	}

	.header-cont .links ul li a {
		font-size: 1em;
	}
}
