<section ng-controller="aboutController" class="about-cont">
	<ul class="about-content"
	layout="row" layout-xs="column" layout-sm="column"
	layout-align="center stretch" layout-align-xs="center center" layout-align-sm="center center">
		<li class="about-desc" flex>
			My name is Indranil Sen. I am second-year Honours Computer Engineering
			student at the University of Waterloo. I am passionate about computers
			and engineering, and want to make a difference in the world with the
			innovative use of technology. I believe that powerful ideas can have
			prodigious impacts.
			</br></br>
			Computer technology excites me, and I constantly find myself working
			on a project or learning a new skill. I'm an enthusiastic and fast
			learner, and have garnered a lot of real-world and practical experience
			by working extensively in teams and individually.
			</br></br>
			Indranil Sen
		</li>
		<li class="about-pic" flex><img src="/img/aboutme/indranilsen_transparent.png" alt="Indranil Sen" /></li>
	</ul>
</section>
