<h3 class="proj-detail-title">{{project[index].name}}</h3>
<hr class="proj-detail-line">

<ul class="proj-detail-content">
  <li class="proj-detail-content-pane-left" ng-click="previousProject()"><i class="fa fa-chevron-left" aria-hidden="true"></i></li>

  <li class="proj-detail-content-pane-centre">
    <ul>
      <li class="pane-centre-top">
        <ul>
          <li class="pane-centre-top-img"><img ng-src="/img/projects/{{project[index].image}}" alt="{{proj.info}}" /></li>
          <li class="pane-centre-top-desc">{{project[index].description}}</li>
        </ul>
      </li>

      <li class="pane-centre-bottom"><i class="fa fa-github" aria-hidden="true"></i></li>
    </ul>
  </li>

  <li class="proj-detail-content-pane-right" ng-click="nextProject()"><i class="fa fa-chevron-right" aria-hidden="true"></i></li>
</ul>
