<section ng-controller="projectsController" class="projects-cont">
	<ul class="all-projects">

		<li ng-repeat="proj in personalProjects" class="single-project-cont">
			<ul class="project">
				<li class="project-pic"><img src="/img/projects/{{proj.imageSrc}}" alt="{{proj.imageAlt}}" /></li>
				<li class="project-desc">
					<ul>
						<li class="project-desc-name">{{proj.name}}</li>
						<li class="project-desc-tags">{{proj.tags}}</li>
					</ul>
				</li>
			</ul>
		</li>

	</ul>
</section>
