<section ng-controller="skillsController" class="skills-cont">
	<div ng-cloak>
	  <md-content md-theme="customPrimary">
	    <md-tabs md-dynamic-height md-border-bottom md-center-tabs="true">
	      <md-tab label="one">
	        <md-content class="md-padding">
	          TEST 1
	        </md-content>
	      </md-tab>
	      <md-tab label="two">
	        <md-content class="md-padding">
	          TEST 2
	        </md-content>
	      </md-tab>
	      <md-tab label="three">
	        <md-content class="md-padding">
	          TEST 3
	        </md-content>
	      </md-tab>
	    </md-tabs>
	  </md-content>
	</div>
</section>
