<section ng-controller="homeController" class="home-cont">
	<h3 class="greet-title">{{greeting}}</h3>
	<hr class="greet-line">
	<h5 class="greet-name">I am Indranil Sen</h5>
	<p class="greet-message">
		I am a second-year Computer Engineering student at the University of Waterloo.
		<br><br>
		I want to make a positive difference in the world with the innovative and
		creative use of technology. I believe that technology can empower people and
		connect communities.
	</p>
	<ul class="greet-btn-cont">
		<li><a ui-sref="about">About</a></li>
		<li><a ui-sref="resume">Resume</a></li>
	</ul>
	<ul class="greet-social-btn-cont">
		<li><a href="https://github.com/indranilsen"><i class="fa fa-github" aria-hidden="true"></i></a></li>
		<li><a href="https://ca.linkedin.com/in/indranil-sen"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
		<li><a href="https://twitter.com/indranilsen010"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
		<li><a href="https://www.instagram.com/indranil.sen"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
		<li><a href="https://www.youtube.com/user/Sirius011196/videos"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
	</ul>
</section>
