<section ng-controller="videosController" class="contact-cont">
    <md-content class="md-no-momentum proj-search-bar">
		<md-input-container md-no-float class="md-block">
			<input ng-model="query" type="text" placeholder="Search">
		</md-input-container>
	</md-content>
    <ul class="video-cont" layout="row" layout-align="center center" layout-wrap>
        <li ng-repeat="video in videos" class="video" id="video_{{$index}}" layout="row" layout-align="center center"
        flex-xs="100" flex-sm="50" flex-gt-sm="33">
            <div class="button" ng-click="loadVideo($index)"></div>
            <img class="video-overlay" ng-src="{{trustSource(video.image.medium)}}">
        </li>
    </ul>
</section>
