.skills-cont {
  min-width: 85vh;
  background-color: transparent;
}

.skills-cont md-content {
  background-color: transparent;
}

.tabbed-view-cont {
  display: flex;
  justify-content: center;
  margin-top: 2em;
}

.tabbed-view {
  width: 80%;
}
