.skills-cont {
  min-width: 85vh;
  background-color: transparent;
}

.skills-cont md-content {
  background-color: transparent;
}

.tabbed-view-cont {
  display: flex;
  justify-content: center;
}

.tabbed-view {
  width: 80%;
}

.skill-label-primary {
  color: #00BAFF !important;
}

.skill-label-secondary {
  color: #4588A0 !important;
}

.skill-label-tertiary {
  color: #787878 !important;
}
