.contact-cont {
  min-height: 80vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #787878;
}

.contact-title {
  margin: 0;
  text-align: center;
  font-size: 3em;
  color: #00BAFF;
  padding: 0.3em;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.contact-line {
  border: 0;
  height: 0;
  width: 60%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-line-vert {
  border: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.contact-message {
  margin: 0;
  padding: 1em 0 3em 0;
  text-align: center;
  letter-spacing: 0.1em;
  line-height: 1.4em;
  width: 50%;
}

.info-cont {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap-reverse;;
  width: 80%;
}

.info-cont-form {
  flex: 3 0 auto;
}

.info-cont-form md-content {
  background-color: transparent;
}

.info-cont-form-button {
  margin-top: 0;
  margin-bottom: 0;
  border: 1px solid #00BAFF;
  border-radius: 0.3em;
  color: #787878;
  background-color: #FFF;
}

.info-cont-form-button:not([disabled]):hover {
  background-color: #00BAFF;
  color: #FFF;
}

.info-cont-details {
  flex: 2 0 auto;
}

.info-cont-details>ul {
  margin: 0;
  padding: 0;
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.details-top {
  flex: 5 0 auto;
  display: flex;
}

.details-items {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  list-style: none;
  flex: 1 1 100%;
}

.item-cont {
}

.item-cont>ul {
  margin: 0;
  padding: 1em;
  display: flex;
  list-style: none;
}

.item-icon {
  text-align: center;
  font-size: 2em;
  flex: 1 0 20%;
}

.item-text {
  flex: 2 0 80%;
  align-self: center;
}

.details-bottom {
  flex: 4 0 auto;
  display: flex;
}

.social-cont {
  margin: 0;
  padding: 0;
  flex: 1 1 auto;
  display: flex;
  list-style: none;
}

.social-icon {
  padding: 0.5em;
  flex: 1 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon a {
  color: #787878;
  font-size: 1.4em;
  transition: all 200ms ease-out;
}

.social-icon a:hover {
  color: #00BAFF;
}
